@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.btn-action {
  @apply w-full sm:w-auto min-w-[100px] sm:min-w-[180px]
  bg-gray-800 text-white py-2 px-4 rounded-lg
  hover:bg-gray-700 transition-colors whitespace-nowrap;
}

.error-auth {
  @apply text-red-600 text-sm bg-gray-50 p-2 rounded-md border border-gray-200;
}
