@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.btn-action {
  @apply w-full sm:w-auto min-w-[100px] sm:min-w-[140px]
  bg-gray-800 text-white py-2 px-4 rounded-lg
  hover:bg-gray-700 transition-colors whitespace-nowrap;
}

.error-auth {
  @apply text-red-500 text-sm bg-gray-50 p-2 rounded-md border border-gray-200;
}
.form {
  @apply w-[600px] bg-white shadow-2xl rounded-3xl p-12 space-y-10
  border-2 border-gray-300 flex flex-col items-center;
}
.input-field {
  @apply w-[400px] rounded-2xl border-1 border-gray-300 bg-white
  px-5 py-2 text-gray-600 placeholder-gray-300
  focus:border-gray-300 focus:ring-1 focus:ring-gray-200
  outline-none transition;
}
