@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gray-950;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-action {
  @apply w-full sm:w-auto bg-gray-800 text-white py-2 px-4 rounded-lg
  hover:bg-gray-700 transition-colors whitespace-nowrap cursor-pointer;
}

.error-auth {
  @apply text-red-500 text-sm bg-gray-50 p-2 rounded-md border border-gray-200;
}
.form {
  @apply mx-auto max-w-[600px] rounded-xl p-12 space-y-10
  border-1 border-gray-700 flex flex-col items-center bg-gray-900;
}
.input-field {
  @apply w-full rounded-2xl border-1 border-gray-300 px-5 py-2 text-gray-600 placeholder-gray-300
  focus:border-gray-300 focus:ring-1 focus:ring-gray-200
  outline-none transition bg-gray-800;
}

.button-method {
  @apply flex items-center gap-8 rounded-lg hover:bg-gray-800 py-2 px-4 border-0 font-semibold cursor-pointer;
}

.methods-dropdown {
  @apply rounded-lg absolute top-full bg-gray-800;
}

.methods-list {
  @apply p-1 flex flex-col gap-1;
}

.methods-list-item {
  @apply font-semibold px-4 py-2 cursor-pointer rounded-lg hover:bg-gray-800;
}

.methods-list-item.selected {
  @apply bg-gray-800 rounded;
}

.button-method .get,
.method-get,
.methods-list-item.get {
  @apply text-green-300;
}

.button-method .post,
.method-post,
.methods-list-item.post {
  @apply text-orange-300;
}

.button-method .put,
.method-put,
.methods-list-item.put {
  @apply text-blue-400;
}

.button-method .patch,
.method-patch,
.methods-list-item.patch {
  @apply text-purple-300;
}

.button-method .delete,
.method-delete,
.methods-list-item.delete {
  @apply text-red-300;
}

.button-method .head,
.method-head,
.methods-list-item.head {
  @apply text-green-300;
}

.button-method .options,
.method-options,
.methods-list-item.options {
  @apply text-purple-500;
}

.table {
  @apply w-full table-auto border-separate border-spacing-0 rounded-lg text-left border border-gray-800;
}

.table-header .table-cell {
  @apply px-2 py-2 bg-gray-800;
}

.table-body .table-cell:not(:first-of-type) {
  @apply border-l-1 border-l-gray-800;
}

.table-body .tr:not(:first-of-type) {
  @apply border-t-1 border-t-gray-800;
}

.table-body .tr:nth-of-type(even) .table-cell {
  @apply bg-white/2;
}

.form-input {
  @apply w-full px-2 py-2 focus:bg-gray-700 text-gray-200 transition-all focus:outline-none focus:ring-1 focus:ring-blue-500 rounded;
}

.button-body-mode {
  @apply px-6 py-0.5 rounded-lg font-medium text-sm text-gray-300 hover:text-gray-200 cursor-pointer transition-all;
}
